
*.aux

*.bbl

*.blg

*.log

*.out

*.gz

*.toc

Chap*/*.pdf
pres/Ardu/*.pdf
Incidental/*.pdf
pres/Warwick/*.pdf


thesis*.pdf

upgrade-auto.tex

Chap2/plots/NIPS-Old.numbers/*

upgrade-bryan.tex

.texpadtmp/*


pres/.texpadtmp/*


*.gz(busy)

*.ps

thesis-bryan.tex

Chap1/plots/infinite-lda-diagram-2.pdf

Chap1/plots/infinite-mom-diagram.pdf

Chap1/plots/lda-diagram-2.pdf

Chap1/plots/mom-diagram.pdf

papers/ectm/ectm-paper.pdf

papers/ectm/prletfig01.eps

papers/ectm/prletfig01.pdf

papers/ectm/prletters-authorship.pdf

papers/ectm/prletters-template-with-authorship.pdf

papers/ectm/refs.bib

pres/presentation-draft.pdf

upgrade-auto.pdf

upgrade-bryan.pdf
