
*.aux

*.bbl

*.blg

*.log

*.out

*.gz

*.toc

Chap*/*.pdf
pres/Ardu/*.pdf
Incidental/*.pdf
pres/Warwick/*.pdf


thesis*.pdf

upgrade-auto.tex

Chap2/plots/NIPS-Old.numbers/*

upgrade-bryan.tex

.texpadtmp/*


pres/.texpadtmp/*


*.gz(busy)

*.ps

thesis-bryan.tex
